@import "./src/variables";
body{
    background: $light;
}
.form-group{
    .form-table{
        @extend .table; 
        @extend .table-bordered;
    }
    .submit{
        .button{
            float: none;
            width: auto;
        }
    }
}
